#~#
*#*
*~
*~Stashed changes
^#\*#$
.archive
.backup
.bashrc.txt
.fehbg
input/aliases.txt
input/dirnames.txt
input/filenames.txt
input/magnets.txt
input/man.txt
.jot
.jsel-backup
man.pdf
output
output/
output/*
window/.cache
.testing
