#~#
*#*
*~
*~Stashed changes
^#\*#$
.archive
.backup
.bashrc.txt
.fehbg
input/aliases.txt
input/dirnames.txt
input/filenames.txt
input/magnets.txt
input/man.txt
.jot
.jsel-backup
man.pdf
output/cover.jpg
output/dirnames.txt
output/filenames.txt
output/man.pdf
output/man.ps
output/primsel.log
output/screenshot.png
output/torrent.log
window/.cache
.testing
